<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/favourites.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="./index.html" class="logo">Car<span>Rental</span></a>
            <div class="nav-links">
                <a href="./favorites.html">❤️ Favorites</a>
                
                <a href="./register.html">Registration</a>
                <a href="./login.html">Log In</a>
            </div>
        </nav>
    </header>

        <section class="popular-section">
            
        <h2 class="section-title">❤️ My Favorites</h2>
        <button id="clearBtn">Clear All</button>
        <div class="popular-grid" id="favGrid"></div>
    </section>


    <script src="../apps/favourites.js"></script>
</body>
</html>