<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/register.css">
  </head>
  <body>
    <div class="registration-container">
      <div class="registration-card">
        <a  class="back" href="./index.html">X</a>
        <h2>Registration</h2>
        <input id="firstName" type="text" placeholder="Name" />
        <input id="lastName" type="text" placeholder="Last Name" />
        <input id="email" type="email" placeholder="Email" />
        <input id="phoneNumber" type="text" placeholder="Phone Number" />
        <input id="password" type="password" placeholder="Password" />
        <button id="registerBtn">Registration</button>
        <p>Already have a account? <a href="./login.html">Log In</a></p>
      </div>
    </div>

    <script src="../apps/register.js"></script>
  </body>
</html>
