<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    
<main id="main">


    
    <div class="main-content" id="mainContent">
    <h1>Rent Your Dream Car</h1>
    <h5>Luxury Comfort Perfomance</h5>
    <div class="search-box">
        <select name="" id="location">
            <option value="" disabled selected >Location</option>
             </select>
             <div class="input-wrapper">
                <span class="input-label">Pick-up</span>
            <input type="date" name="" id="pickUp">
             </div>
             <div class="input-wrapper">
                <span class="input-label">Return</span>
            <input type="date" name="" id="return">
            </div>

            <button id="search">Search</button>

    </div>
               <div class="cars"><a href="../templates/cars.html">ALL CARS</a></div>
</main>
    <script src="../apps/app.js"></script>
</body>
</html>